.chat-container {
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px !important;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #1e1e1e;
  height: 50vh;
}

.message-container {
  display: flex;

  &-AI {
    justify-content: center;
  }

  &-sender {
    justify-content: flex-end;
  }

  &-receiver {
    justify-content: flex-start;
  }
}

.message {
  border: none;
  border-radius: 16px;
  padding: 10px 14px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 4px !important;
  max-width: 70%;
  word-break: break-word;
  font-style: normal;

  &-AI {
    background-color: #f1f8ff;
    color: #0073e6;
    font-style: italic !important;
  }

  &-sender {
    background-color: #5b6dc9;
    color: #fff;
    margin-right: 16px !important;
  }

  &-receiver {
    background-color: #e0e0e0;
    color: #000;
    margin-left: 16px !important;
  }
}

.input-container {
  padding: 10px !important;
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: #1e1e1e;
  flex-wrap: wrap;
}

.input-button {
  padding: 8px 16px !important;
  border-radius: 8px !important;
  display: flex !important;
  align-items: center !important;
}
