.question-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
    color: #fff;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.description {
    margin-bottom: 20px;
    color: #bbb;
}

.field-container {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.field-label {
    display: block;
    font-size: 14px;
    color: #bbb;
    margin-bottom: 8px;
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.submit-button {
    margin: 0 !important;
}
