.container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.postsList {
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
}

.no-posts {
  text-align: center;
  margin-top: 50px;
  color: #666;
}

.no-posts h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.no-posts p {
  margin: 5px 0 15px;
}

.top-right-div {
  position: absolute;
  top: 0;
  right: 0;
}