.navbarContainer {
  width: 100%;
}

.App {
  text-align: center;
  height: 100vh;
}

.appContainer {
  height: 100%;
  background-image: url('../public/abstract.jpg');
  background-size: cover;
  background-position: center;
}