.imageContainer {
  position: relative;
  display: inline-block;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.imageContainer:hover .imageOverlay {
  opacity: 1;
}

.imagePreviewLabel {
  display: block;
  font-size: 14px;
  color: #bbb;
  margin-bottom: 8px;
  text-align: left;
}

#imagePreview {
  width: 150px;  
  height: 150px; 
  object-fit: cover; 
}

.imageInput {
  display: none;
}